* {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background: #FFF;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 999;
}

nav .wrapper {
    padding: 0 15px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 6px 8px -3px #888888;

}


.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li a {
    color: #6b6a6a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 20px;
    border-radius: 5px;
    /*transition: all 0.3s ease;*/
}

.nav-links li a:hover {
    background: #0fb7a4;
    color: white;

}

.nav-links li {
    list-style: none;
    margin: 0 0 0 5px;
}


.nav-links .drop-menu {
    background: #FFF;
    width: fit-content;
    top: 64px;
    line-height: 30px;
    position: absolute;
    padding: 0;
    border-top: 2px solid #0fb7a4;
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 #888888;
    opacity: 0;
    visibility: hidden;
    /*transition: visibility 1s ease;*/
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box
{
    opacity: 1;
    visibility: visible;
}

.nav-links .drop-menu span {
    float: left;
    font-size: 9px;
    margin-right: 9px;
    margin-top: -1px;
}

.drop-menu:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0fb7a4;
    border-style: solid;
    border-width: 11px;
    bottom: 122px;
    content: "";
    left: 40%;
    position: absolute;
    transform: translateX(-50%);
}

.drop-menu li a:hover {
    background: #FFF;
    color: #0fb7a4;
}

.wrapper .drop-menu li {
    padding: 0;
    margin: 0;
}

.drop-menu li a {
    padding: 0 15px;
    display: block;
    font-size: 14px;
}


/*Mega Menu*/
.mega-box {
    background: #FFF;
    width: fit-content;
    top: 64px;
    left:-webkit-calc(100% - 350px);
    left:-moz-calc(100% - 350px);
    left:calc(40% - 350px);
    line-height: 30px;
    position: absolute;
    padding: 0;
    border-top: 2px solid #0fb7a4;
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 #888888;
    opacity: 0;
    visibility: hidden;
    /*transition: all 0.5s ease;*/
}

/*.mega-box:before {*/
/*    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0fb7a4;*/
/*    border-style: solid;*/
/*    border-width: 11px;*/
/*    bottom: 232px;*/
/*    content: "";*/
/*    left: 83%;*/
/*    position: absolute;*/
/*    transform: translateX(-50%);*/
/*}*/

.mega-box .mega-content {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
}

.mega-box .mega-row {
    width: fit-content;
    line-height: 30px;
    margin: auto;
}

.mega-box .mega-row img {
    padding: 8px 0 0 0;
    width: 200px;
    height: 200px;
}

.mega-box .mega-content .mega-row header {
    text-align: center;
    margin-left: 23px;
    color: #0fb7a4;
}

.mega-links span {
    float: left;
    font-size: 9px;
    margin-top: -1px;
}

.mega-links li a {
    font-size: 14px;
}


.mega-links li a {

}

.mega-links li a:hover {
    background: #FFF;
    color: #0fb7a4;
}
.mega-links li a:hover span {
    color: #0fb7a4;
}

/*Mega Menu*/


nav form {
    display: flex;
    height: 30px;
    border: 1px solid rgb(15 183 164);
}

nav form input {
    border: unset;
    padding: 5px;
}

nav form button {
    background: #0fb7a4;
    color: #fff;
    width: 35px;
    cursor: pointer;
    border-style: unset;
}